
    <h2>Tasks</h2>
    <%= link_to new_task_path, remote: true do %>
      <button>New</button>
    <% end %>
  
  <div id="task-form" style="display:none;"></div>
  <div id="tasks"><%= render @tasks %></div>

